html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: #0b0f14; 
}

@keyframes pulse {
  0% {
    transform: scale(0.85);
    opacity: 0.6;
  }
  70% {
    transform: scale(1.25);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
